#root {
    height: 100vh;
    background: linear-gradient(135deg, #ecde17, #dd8b03, #f32200) center center fixed !important;

    background-size: cover;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}

/*@-webkit-keyframes AnimationName {*/
/*    0%{background-position:0% 50%}*/
/*    50%{background-position:100% 50%}*/
/*    100%{background-position:0% 50%}*/
/*}*/
/*@-moz-keyframes AnimationName {*/
/*    0%{background-position:0% 50%}*/
/*    50%{background-position:100% 50%}*/
/*    100%{background-position:0% 50%}*/
/*}*/
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}