.MenuCard_header {
    background-color: #046EF7;

}

.MenuCard_body {
    background-color: rgba(91, 91, 91, 0.5);
}

.MenuBoard_button_close {
    display: inline-block;
    justify-content: end !important;
}

@media(max-width: 768px) {
    .MenuCard_card {
        width: 100vw;
    }
}

@media(min-width: 768px) {
    .MenuCard_card {
        width: 50vw;
        margin: auto;
        justify-content: center;
    }
}