.MenuCard_header {
    display: block;
    background-color: #ccaaaa !important;
}

.MenuCard_body {
    background-color: #282c34cc;
    color: azure;
}

.MenuBoard_button_close {
    /*display: inline-block;*/
    /*justify-self: end !important;*/
}

.MenuCard_container.container {
    padding-left: 0;
    padding-right: 0;
}

@media(max-width: 768px) {
    .MenuCard_card {
        width: 100vw;
    }
}

@media(min-width: 768px) {
    .MenuCard_card {
        width: 50vw;
        margin: auto;
        justify-content: center;
    }
}